@use "sass:math";
//підключення міксинів
@import "_mixins";

//&display=swap - додати при підключенні через плагін
@import url("https://fonts.googleapis.com/css?family=Inter:500,700&display=swap");
@import "_variables.scss";

//підключення локальних шрифтів
//@import "fonts/fonts";

//підключення іконкових шрифтів
//@import "fonts/icons";

//підключення обнуляючих стилів
@import "_nullstyle.scss";

//Шрифт за замовчуванням
$fontFamily: "Inter";
$fontSize: toRem(16);

body {
   font-family: $fontFamily, sans-serif;
   font-size: $fontSize;
   font-weight: 500;
   line-height: 120%; /* 19.2px/16 */
   color: $main-text-color;
   background-color: $white-bgd-color;

   //стилі тега BODY

   //скрол заблоковано
   .lock & {
      overflow: hidden;
      touch-action: none;
      overscroll-behavior: none;
   }
   //сайт завантажений
   .loaded & {
   }
}
//стилі оболонки WRAPPER
.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   @supports (overflow: clip) {
      overflow: clip;
   }
   //Притискаємо футер
   > main {
      flex: 1 1 auto;
   }
   //Фікс для слайерів
   > * {
      min-width: 0;
   }
}

//Стилі для чуйного адаптиву контейнера
@if ($responsiveType==1) {
   [class*="__container"] {
      @if ($maxWidthContainer>0) {
         max-width: toRem($containerWidth);
         margin: 0 auto;
      }
      @if ($containerPadding>0) {
         @if ($maxWidthContainer>0) {
            padding: 0 toRem(math.div($containerPadding, 2));
         } @else {
            @include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
            @include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
         }
      }
   }
} @else {
   //Брейк-пойнти
   [class*="__container"] {
      margin: 0 auto;
      @if ($maxWidthContainer>0) {
         max-width: toRem($containerWidth);
      } @else {
         @if ($containerPadding>0) {
            padding: 0 toRem(math.div($containerPadding, 2));
         }
      }
      @media (max-width: $pc) {
         max-width: toRem(970);
      }
      @media (max-width: $tablet) {
         max-width: toRem(750);
      }
      @media (max-width: $mobile) {
         max-width: none;
         @if ($containerPadding>0 and $maxWidthContainer>0) {
            padding: 0 toRem(math.div($containerPadding, 2));
         }
      }
   }
}

//підключення базових стилів
// @import "_base.scss";

//підключення стилів загальних повторюваних блоків та елементів
@import "_common.scss";

//підключення стилів окремих блоків
@import "_header.scss";

//підключення футера
@import "_footer.scss";

//===============HERO===============//

.page {
   // .page__hero
   &__hero {
      @include adaptiveValue("padding-top", 163, 90, 0);
      @include adaptiveValue("padding-bottom", 163, 20, 0);
      &:has(.image--pink.image--active) {
         background: $bgd-pink;
      }
      &:has(.image--green.image--active) {
         background: $bgd-green;
      }
      &:has(.image--gray.image--active) {
         background: $bgd-gray;
      }
      &:has(.image--blue.image--active) {
         background: $bgd-blue;
      }
      &:has(.image--silver.image--active) {
         background: $bgd-silver;
      }
   }
}
.hero {
   min-height: 100vh;
   @media (max-width: $mobile) {
      min-height: 100%;
   }
   // .hero__title
   &__title {
      position: absolute;
      top: toRem(280);
      font-weight: 700;
      font-size: toRem(210);
      line-height: 120%;
      @media (max-width: toRem(1469)) {
         @include adaptiveValue("font-size", 160, 44, 1);
         top: toRem(320);
         display: inline-block;
         left: 0;
         right: 0;
         text-align: center;
      }
      @media (max-width: $mobile) {
         z-index: 2;
      }
      @media (max-width: em(660)) {
         top: toRem(250);
      }
      @media (max-width: $mobileSmall) {
         top: toRem(180);
      }
      span {
         display: inline-block;
         @media (max-width: toRem(1469)) {
            display: inline;
         }
      }
      // .hero__title--air
      &--air {
         position: relative;
         z-index: 2;
      }
      // .hero__title--pod
      &--pod {
      }
      // .hero__title--s
      &--s {
         position: relative;
         z-index: 2;
         transform: translateY(toRem(52));
      }
      // .hero__title--m
      &--m {
         position: relative;
         z-index: 2;
         transform: translate(toRem(-59), toRem(283));
      }
      // .hero__title--ax
      &--ax {
         transform: translate(toRem(-142), toRem(418));
      }
   }
   // .hero__image
   &__image {
      text-align: center;
      position: relative;
      z-index: 1;
      max-width: 100%;
   }
}
.image {
   display: none;
   img {
      max-width: 100%;
   }
}

//===============COLORS=================//
.page {
   // .page__colors
   &__colors {
      @include adaptiveValue("padding-top", 46, 20, 0);
      @include adaptiveValue("padding-bottom", 90, 20, 0);
   }
}
.colors {
   // .colors__header-block
   &__header-block {
      @include adaptiveValue("margin-bottom", 80, 20, 0);
   }
   // .colors__list
   &__list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: toRem(40);
   }
   // .colors__button
   &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: toRem(20);
      border: 1px solid $gray-color;
      padding: toRem(50) toRem(55) toRem(50) toRem(55);
      transition: background-color 0.3s ease 0s;
      &:hover {
         background-color: $gray-color;
      }
      img {
         max-width: 100%;
      }
      &--active {
         display: none;
      }
   }
}

//==========================COMPOSITION==============//
.page {
   // .page__composition
   &__composition {
      @include adaptiveValue("padding-top", 90, 20, 0);
      @include adaptiveValue("padding-bottom", 90, 20, 0);
   }
}
.composition {
   // .composition__header-block
   &__header-block {
      margin-bottom: toRem(40);
      .block-header__text {
         max-width: toRem(700);
      }
   }
   // .composition__body
   &__body {
      max-width: toRem(625);
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      @include adaptiveValue("column-gap", 160, 20, 0);
      @media (max-width: $mobile) {
         column-gap: toRem(20);
         flex-direction: column-reverse;
         align-items: center;
         row-gap: toRem(20);
      }
   }
   // .composition__content
   &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      row-gap: toRem(15);
   }
}

//==============CASE=============//
.page {
   // .page__case
   &__case {
      @include adaptiveValue("padding-top", 80, 20, 0);
      @include adaptiveValue("padding-bottom", 80, 20, 0);
   }
}
.case {
   // .case__container
   &__container {
      text-align: center;
   }
   // .case__header-block
   &__header-block {
      margin-bottom: toRem(40);
      .block-header__text {
         max-width: 100%;
      }
   }
   // .case__image
   &__image {
      display: inline-block;
      img {
         max-width: 100%;
      }
   }
}

//===============ENERGY=============//
.page {
   // .page__energy
   &__energy {
      @include adaptiveValue("padding-top", 80, 20, 0);
      @include adaptiveValue("padding-bottom", 96, 20, 0);
   }
}
.energy {
   // .energy__container
   &__container {
      text-align: center;
   }
   // .energy__header-block
   &__header-block {
      @include adaptiveValue("margin-bottom", 40, 20, 0);
   }
   // .energy__number
   &__number {
      // display: inline-block;
      @include adaptiveValue("font-size", 210, 105, 0);
      font-weight: 700;
      line-height: 120%;
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 40, 20, 0);
      }
   }
   // .energy__text
   &__text {
      display: inline-block;
      max-width: toRem(405);
   }
}

//====================CUSTOM==============//
.page {
   // .page__custom
   &__custom {
      background: url(/src/img/custom/bg_full.jpg) top center / cover no-repeat;
      color: $white-color;
   }
}
.custom {
   // .custom__container
   &__container {
      min-height: 230vh;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      text-align: center;
      padding-bottom: 60vh;
   }
   // .custom__content
   &__content {
      justify-content: center;
   }
   // .custom__text
   &__text {
      max-width: toRem(300);
      &:not(:last-child) {
         margin-bottom: toRem(20);
      }
   }
}

//підключення стилів окремих сторінок
// @import "_home.scss";
